:root{
    light-green: #29EB7F;
    green: #13CE66;
    dark-green: #0F9F4F;

    black: #1F2D3D;
    steel: #273444;
    slate: #3C4858;
    silver: #8492A6;

    smoke: #E0E6ED;
    dark-smoke:#D3DCE6;
    extra-dark-smoke: #C0CCDA;

    primary: #1FB6FF;
    success: #13CE66;
    danger: #FF4949;
    warning: #FFC82C; 
}

* {
    box-sizing: border-box;
}

body {
    color: #10161A;
}

.side-menu li {
    padding: 8px 0;
}

.side-menu .uk-nav-divider {
    padding: 0;
}

a {
    color: #182026;
    text-decoration: none;
}

a:hover {
    color: #394B59;
    text-decoration: none;
}

.color-white {
    color: white;
}

.navbar {
    box-shadow: 0 1px 1px 0 #47525d6e;
}

.subnav {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}


.section-head {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 0;
    letter-spacing: 2px;
}

.vote-button {
    padding: 4px 8px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 1px 2px 1px 2px hsl(0, 0%, 20%);
}

.edit-profile-button {
    height: 40px;
    width: 40px;
}

.social-buttons a{
    padding: 8px;
}

.box-sizing-content {
    box-sizing: content-box;
}

.horizontal-touch-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.horizontal-touch-scroll li {
    flex: 0 0 auto;
}

.horizontal-touch-scroll::-webkit-scrollbar {
    display: none;
}


.message-thread-image {
    height: 50px;
    width: 50px;
}

.message-thread-link:hover {
    background-color: #8492A6;
}

.conversation-header {
    width: 100%;
}

.conversation-body {
    margin-top: 0 !important;
    margin-bottom: 50px;
}

.message-item {
    padding: 16px;
    max-width: 100%;
    position: relative;
    margin: 32px 0;
}

.sent-message-inner {
    right: 0;
    max-width: 75%;
    min-width: 30%;
    background-color: rgba(132, 146, 166, 0.12);
    width: fit-content;
    padding: 4px 8px;
    position: absolute;
}

.received-message-inner {
    background-color: rgba(60, 72, 88, 0.12);
    left: 0;
    max-width: 75%;
    min-width: 30%;
    width: fit-content;
    padding: 4px 8px;
    position: absolute;
}

.message-input {
    position: sticky;
    width: 100%;
}